{% load i18n %}
<form method="post" action="{{form.instance.get_edit_url}}" class="edit-issue-form">
    {% csrf_token %}
    {{form.reference}}{{form.reference.errors}}
    <div class="save-reference col-xs-12 text-center rich_editor_box" style="margin-top: 1px;">
        <span class="cancel-edit-reference">
            <button class="btn btn-default btn-lg">{% trans "Cencel edit" %}</button>
        </span>
        <button class="btn btn-oc btn-lg">{% trans "Save" %}</button>
    </div>
</form>
